.env
backend/venv
frontend/node_modules
docs/*
CLAUDE.md
__pycache__/*
backend/app/__pycache__/*
backend/app/api/__pycache__/*
backend/app/api/routes/__pycache__/*
backend/app/services/__pycache__/*
backend/app/models/__pycache__/*
backend/app/models/schemas/__pycache__/*
backend/app/models/schemas/__pycache__/*